access_key="{AWS_IAM_KEY_HERE}"
secret_key="{AWS_SECRET_KEY_HERE}"
aws_region="{AWS_REGION_HERE}"
vpc_id=""
public_subnets=""
private_subnets=""
zone_id=""
key_name=""
master_hostname="
master_username=""
master_password=""
ssl_base_name=""
