# Add your AWS access/secret keys & region
access_key=""
secret_key=""
aws_region=""

# The hostname of the master Rancher cluster (eg. rancher). This will be created in $zone_id
master_hostname=""

# The Route53 zone ID to use to create the Rancher host
zone_id=""

# The ARN of the SSL certificate to use in ACM. Go ahead and create one in the AWS cert manager and make sure it covers $master_hostname in $zone_id
acm_ssl_cert_arn=""

# The name of an existing keypair to use to create EC2 instances. Do not include .pem
key_name=""

# Credentials for the Rancher MySQL database. These can be whatever you'd like, but the password must be > 8 characters
master_username=""

# The name of the environment you used when you created the VPC with our VPC terraform code. The VPC and subnets are tagged with this environment
# and will be dynamically found.
environment=""
